# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
debug

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.txt

# System folders
.DS_Store

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# PID files
*.pid

# Log files
*.log

# Storage folder
.data/

# Certificate files
.cert/
server.key
server.crt

# Project folders
.idea/
.vscode/

# Dependency 
vendor/

# Binary 
jackal

# Configuration file
config.yml

# TODO temporary just until I understand why it changes so frequently and why so many libraries added to go.mod atm
go.sum
